<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="fuelux" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Cloud Ray Tracer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ staticRoot }}css/common.css" type="text/css" />
  <link rel="stylesheet" href="{{ staticRoot }}css/raytracer.css" type="text/css" />
  <link rel="stylesheet" media="screen" href="{{ staticRoot }}css/fuelux.min.css" />
  <link rel="stylesheet" media="screen" href="{{ staticRoot }}css/fuelux-responsive.min.css" />
  <link rel="stylesheet" media="screen" href="{{ staticRoot }}css/bootstrap-fileupload.min.css" />
  <link rel="stylesheet" media="screen" href="{{ staticRoot }}css/colorpicker.css" />

  <script type="text/javascript" src="{{ staticRoot }}lib/jquery.min.js"></script>
  <script type="text/javascript" src="{{ staticRoot }}lib/underscore-min.js"></script>
  <script type="text/javascript" src="{{ staticRoot }}lib/backbone-min.js"></script>
  <script type="text/javascript" src="{{ staticRoot }}lib/fuelux.min.js"></script>
  <script type="text/javascript" src="{{ staticRoot }}lib/bootstrap-fileupload.min.js"></script>
  <script type="text/javascript" src="{{ staticRoot }}lib/bootstrap-colorpicker.js"></script>

  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="{{ staticRoot }}js/init.js"></script>
  <script type="text/javascript" src="{{ staticRoot }}js/router.js"></script>
  <script type="text/javascript" src="{{ staticRoot }}js/main.js"></script>
  <script type="text/javascript" src="{{ staticRoot }}js/raytracer.js"></script>
  <script type="text/javascript" src="{{ staticRoot }}js/client.js"></script>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#home">Cloud Ray Tracer</a>
        <div role="button" data-toggle="modal" data-target="#createSceneModal"
          class="create-scene-button btn btn-primary pull-right">
          Create A Scene
        </div>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="nav-home"> <a href="#home">Home</a> </li>
            <li class="nav-about"> <a href="#about">About</a> </li>
            <li class="nav-contact"> <a href="#contact">Contact</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="home">
      <h1>Gallery</h1>

      <div class="gallery row">
        <ul class="gallery-thumbnails thumbnails"></ul>
      </div>

    </div>

    <div class="about">
      <h1>About</h1>
      <p>
      This is an awesome ray tracer filled with awesomeness.
      All the work to render each scene is distributed over clients that choose
      to help render it.
      </p>
      <p>
      Developed by Juan Pablo Sarmiento, Cornell '13
      </p>
    </div>

    <div class="contact">
      <h1>Contact</h1>
      <p>
      <a href="mailto:jps327@cornell.edu" target="_blank">E-mail</a>
      </p>
      <p>
      <a
        href="https://www.facebook.com/juan.pablo.sarmiento"
        target="_blank">Facebook</a>
      </p>
    </div>

    <div class="scene">
    </div>

  </div>

  <!-- Create Scene Modal-->
  <script id="t-input-vector" type="text/template">
    <div class="control-group">
      <label class="control-label" for="input<%= id %>-x"><%= label %></label>
      <div class="controls">
        <input type="text" id="input<%= id %>-x" placeholder="x"
          class="vector-component" value="<%= val.x %>" />
        <input type="text" id="input<%= id %>-y" placeholder="y"
          class="vector-component" value="<%= val.y %>" />
        <input type="text" id="input<%= id %>-z" placeholder="z"
          class="vector-component" value="<%= val.z %>" />
        <span class="help-inline">Vector[x, y, z]</span>
      </div>
    </div>
  </script>

  <script>
    var writeVector = function(id, label, val) {
      return _.template($('#t-input-vector').html())({
        id: id,
        label: label,
        val: {x: val.x, y: val.y, z: val.z}
      });
    };
  </script>

  <div id="createSceneModal"
    class="createSceneModal modal hide fade"
    tabindex="-1" role="dialog"
    aria-labelledby="createSceneModalLabel" aria-hidden="true"
    data-backdrop="static">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"
        aria-hidden="true">x</button>
      <h3 id="createSceneModalLabel">Create A Scene</h3>
    </div>
    <div class="modal-body">
      <ul id="createSceneTab" class="nav nav-tabs">
        <li class="active"><a href="#thumbnail" data-toggle="tab">Thumbnail</a></li>
        <li><a href="#properties" data-toggle="tab">Properties</a></li>
        <li><a href="#lights" data-toggle="tab">Lights</a></li>
        <li><a href="#materials" data-toggle="tab">Materials</a></li>
        <li><a href="#objects" data-toggle="tab">Objects</a></li>
      </ul>

      <div class="tab-content">
        <!-- Thumbnail Selection -->
        <div class="thumbnail-tab tab-pane fade in active" id="thumbnail">
          <p>
          Enter the URL to an image you want to use as a thumbnail in the gallery.
          It is recommended that your thumbnail suggest what your scene looks like,
          that way others will want to connect to it.
          </p>
          <form>
            <fieldset>
              <div class="control-group">
                <label class="control-label" for="inputThumbnailURL">
                  URL
                </label>
                <div class="controls">
                  <input type="text" id="inputThumbnailURL" class="span4" value="" />
                </div>
                <span class="help-inline">
                  If you want to upload your own image, we suggest you upload
                  it through
                  <a href="http://imgur.com" target="_blank">imgur</a>
                  and then enter the URL here.
                </span>
              </div>
            </fieldset>
          </form>

          <ul class="thumbnails">
            <li class="span4">
              <img class="thumbnail-img" src="" />
            </li>
          </ul>

        </div>

        <!-- Scene Properties -->
        <div class="scene-properties-tab tab-pane fade" id="properties">
          <div class="sceneProperties accordion" id="scenePropertiesAccordion">
            <!-- General Properties -->
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                  data-parent="#scenePropertiesAccordion" href="#generalProperties">General Properties</a>
              </div>
              <div id="generalProperties" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <form class="form-horizontal">
                    <fieldset>
                      <div class="control-group">
                        <label class="control-label" for="inputTitle">Title</label>
                        <div class="controls">
                          <input type="text" id="inputTitle" class="span3"
                          value="Untitled Scene" />
                        </div>
                      </div>

                      <div class="control-group">
                        <label class="control-label" for="inputAuthor">Author</label>
                        <div class="controls">
                          <input type="text" id="inputAuthor" class="span3" value=""/>
                          <span class="help-inline">
                            If you prefer using a pseudonym you do not have
                            to use your real name.
                          </span>
                        </div>
                      </div>

                      <div class="control-group">
                        <label class="control-label" for="inputWidth">Width</label>
                        <div class="controls">
                          <input type="text" id="inputWidth" class="span1" value="400" />
                        </div>
                      </div>

                      <div class="control-group">
                        <label class="control-label" for="inputHeight">Height</label>
                        <div class="controls">
                          <input type="text" id="inputHeight" class="span1" value="300" />
                        </div>
                      </div>

                      <div class="control-group">
                        <label class="control-label" for="inputAntiAliasing">Anti-Aliasing Samples</label>
                        <div class="controls">
                          <input type="text" id="inputAntiAliasing" class="span1" value="16" />
                        </div>
                      </div>

                    </fieldset>
                  </form>
                </div>
              </div>
            </div>

            <!-- Camera -->
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                  data-parent="#scenePropertiesAccordion" href="#camera">Camera</a>
              </div>
              <div id="camera" class="accordion-body collapse">
                <div class="accordion-inner">
                  <p>
                  Specify the properties of the camera that will be used to render
                  your scene. The default values are already good enough to render
                  any scene you want.
                  </p>

                  <form class="form-horizontal">
                    <fieldset>
                      <script>
                        document.write(writeVector('Eye', 'Eye', {x: 0, y: 0, z: 5}));
                        document.write(writeVector('ViewDirection', 'View Direction',
                          {x: 0, y: 0, z: -1}));
                        document.write(writeVector('Up', 'Up', {x: 0, y: 1, z: 0}));
                      </script>
                      <div class="control-group">
                        <label class="control-label" for="inputProjectionDistance">
                          Projection Distance
                        </label>
                        <div class="controls">
                          <input type="text" id="inputProjectionDistance"
                            class="span1" value="1" />
                        </div>
                      </div>
                    </fieldset>
                  </form>

                </div>
              </div>
            </div>

            <!-- Load Scene -->
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                  data-parent="#scenePropertiesAccordion"
                  href="#loadScene">Load Scene</a>
              </div>
              <div id="loadScene" class="load-scene accordion-body collapse">
                <div class="accordion-inner">
                  <p>
                  Load a scene that you have previously saved or published.
                  </p>
                  <form class="form-horizontal">
                    <fieldset>
                      <input type="button" class="btn-load-scene btn btn-success"
                        value="Load" />
                      <div data-resize="auto"
                        class="select btn-group load-scene-select">
                        <button data-toggle="dropdown" class="btn dropdown-toggle">
                          <span class="dropdown-label"></span>
                          <span class="caret"></span>
                        </button>
                        <ul class="load-scene-dropdown-box dropdown-menu"></ul>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Light Creation -->
        <div class="lights-tab tab-pane fade" id="lights">
          <div class="pull-left">
            <h5> Add Lights</h5>
            <form class="form-horizontal">
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="inputLightName">
                    Name
                  </label>
                  <div class="controls">
                    <input type="text" id="inputLightName" class="span2" value="" />
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="inputLightPos-x">
                    Position
                  </label>
                  <div class="controls">
                    <input type="text" id="inputLightPos-x" placeholder="x"
                      class="vector-component" value="-2" />
                    <input type="text" id="inputLightPos-y" placeholder="y"
                      class="vector-component" value="3" />
                    <input type="text" id="inputLightPos-z" placeholder="z"
                      class="vector-component" value="1" />
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="inputLightColor">
                    Color
                  </label>
                  <div class="controls">
                    <div class="light-colorpicker input-append color"
                      data-color="rgb(255,255,255)" data-color-format="rgb">
                      <input id="inputLightColor" type="text" class="span2"
                        value="rgb(255,255,255)" readonly />
                      <span class="add-on">
                        <i style="background-color: rgb(255,255,255);"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="inputLightIntensity">
                    Intensity
                  </label>
                  <div class="controls">
                    <input type="text" id="inputLightIntensity" class="span2"
                      value="1" />
                  </div>
                </div>

                <input type="button" class="btn-add-light btn btn-primary"
                  value="Add" />
                <input type="button" class="btn-cancel-light btn" value="Cancel" />

              </fieldset>
            </form>
          </div>

          <div class="pull-right">
            <div class="added-lights"></div>
            <button type="button" class="btn btn-small btn-remove-selected-lights">
              Remove
            </button>
          </div>
        </div>

        <!-- Material Creation -->
        <div class="materials-tab tab-pane fade" id="materials">
          <div class="pull-left">
            <h5>Create a New Material</h5>
            <form class="form-horizontal">
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="inputMatName">
                    Name
                  </label>
                  <div class="controls">
                    <input type="text" id="inputMatName" class="span2" value="" />
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="inputMatType">
                    Type
                  </label>
                  <div class="controls">
                    <div id="inputMatType" data-resize="auto"
                      class="select btn-group material-select">
                      <button data-toggle="dropdown" class="btn dropdown-toggle">
                        <span class="dropdown-label"></span>
                        <span class="caret"></span>
                      </button>
                      <ul class="materials-dropdown-box dropdown-menu"></ul>
                    </div>
                  </div>
                </div>

                <div class="material-properties-form"></div>
                <input type="button" class="btn-add-material btn btn-primary"
                  value="Add" />
                <input type="button" class="btn-cancel-material btn" value="Cancel" />
                <input type="button" class="btn-preview-material btn"
                  value="Preview Material" />
              </fieldset>
            </form>
          </div>

          <div class="pull-right">
            <div class="added-materials"></div>
            <button type="button" class="btn btn-small btn-remove-selected-materials">
              Remove
            </button>
          </div>
        </div>

        <!-- Object Creation -->
        <div class="objects-tab tab-pane fade" id="objects">
          <div class="pull-left">
            <h5>Add an Object</h5>
            <form class="form-horizontal">
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="inputObjectName">
                    Name
                  </label>
                  <div class="controls">
                    <input type="text" id="inputObjectName" class="span2" value="" />
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="inputObjectType">
                    Type
                  </label>
                  <div class="controls">
                    <div id="inputObjectType" data-resize="auto"
                      class="select btn-group object-select">
                      <button data-toggle="dropdown" class="btn dropdown-toggle">
                        <span class="dropdown-label"></span>
                        <span class="caret"></span>
                      </button>
                      <ul class="objects-dropdown-box dropdown-menu"></ul>
                    </div>
                  </div>
                </div>

                <div class="object-properties-form"></div>
                <input type="button" class="btn-add-object btn btn-primary"
                  value="Add" />
                <input type="button" class="btn-cancel-object btn" value="Cancel" />

              </fieldset>
            </form>
          </div>

          <div class="pull-right">
            <div class="added-objects"></div>
            <button type="button" class="btn btn-small btn-remove-selected-objects">
              Remove
            </button>
          </div>
        </div>
        <!-- End Object Creation Tab -->

      </div>
    </div>

    <div class="modal-footer">
      <div class="pull-left">
        <button class="btn-preview-scene btn btn-success">
          Preview Scene
        </button>
      </div>
      <div class="pull-right">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
          Close
        </button>
        <button class="btn-done btn btn-primary">Done</button>
      </div>
    </div>

    <div class="preview-material-popup">
      <canvas id="preview-material-canvas" width="200px" height="200px">
      </canvas>
    </div>
    <div class="preview-scene-popup">
      <canvas id="preview-scene-canvas"></canvas>
    </div>
  </div>


  <script id="t-finished-image" type="text/template">
    <img src="<%= imgSrc %>"></img>
  </script>

  <script id="t-gallery-thumbnail" type="text/template">
    <div class="gallery-thumbnail thumbnail">
      <a href="#scene/<%= scene._id %>" class="thumbnail">
        <div
          style="background-image: url('<%= scene.thumbnailURL %>');"
          class="gallery-img"></div>
      </a>
      <div class="caption">
        <h3><%= scene.title %></h3>
        <p>by <%= scene.author %></p>
        <% if (!scene.finishedRendering) { %>
          <p>
            <div class="btn btn-primary btn-connect">Connect</div>
            <span class="num-users-connected">
              <span class="user-count"><%= scene.numUsersConnected %></span>
              <% if (scene.numUsersConnected == 1) { %> user
              <% } else { %> users <% } %>
              connected
            </span>
          </p>
        <% } %>
      </div>
    </div>
  </script>

  <script id="t-scene" type="text/template">
    <h1><%= scene.title %></h1>
    <h4>by <%= scene.author %></h4>
    <div class="finished-image-container">
      <img src="{{ staticRoot }}img/loading_bar.gif"></img>
    </div>
    <% if (!scene.finishedRendering) { %>
      <p><%= scene.numUsersConnected %> users connected</p>
    <% } %>
    <div class="btn btn-primary btn-connect">Connect</div>
  </script>

  <script id="t-select-box-item" type="text/template">
    <li data-value="<%= value %>"><a href="#"><%= label %></a></li>
  </script>

  <script id="t-item-folder-tree" type="text/template">
    <div class="<%= className %> tree">
      <div class="tree-folder" style="display:none;">
        <div class="tree-folder-header">
          <i class="icon-folder-close"></i>
          <div class="tree-folder-name"></div>
        </div>
        <div class="tree-folder-content"></div>
        <div class="tree-loader" style="display:none;"></div>
      </div>

      <div class="tree-item" style="display:none;">
        <i class="tree-dot"></i>
        <div class="tree-item-name"></div>
        <i class="tree-dot"></i>
      </div>
    </div>
  </script>

  <script id="t-material-properties-form" type="text/template">
    <% for (var id in properties) {
      var property = properties[id];
    %>
      <div class="control-group">
        <label class="control-label" for="<%= id %>">
          <% print(property.label); %>
        </label>
        <div class="controls">
          <% var val = property.val;
          if (property.type === 'number') { %>
            <input id="<%= id %>" type="text" class="span1" value="<%= val %>" >
          <% } else if (property.type === 'color') { 
            var startColor = "rgb(" + val.r + "," + val.g + "," + val.b +")"; %>
            <div class="material-colorpicker input-append color"
              data-color="<%= startColor %>" data-color-format="rgb">
              <input id="<%= id %>" type="text" class="span2"
                value="<%= startColor %>" readonly />
              <span class="add-on">
                <i style="background-color: <%= startColor %>"></i>
              </span>
            </div>
          <% } %>
        </div>
      </div> 
  <% } %>
  </script>

  <script id="t-object-properties-form" type="text/template">
    <% for (var id in properties) {
      var property = properties[id];
    %>
      <div class="control-group">
        <label class="control-label" for="<%= id %>">
          <%= property.label %>
        </label>
        <div class="controls">
          <% var val = property.val;
          if (property.type === 'number') { %>
            <input id="<%= id %>" type="text" class="span1" value="<%= val %>" >
          <% } else if (property.type === 'vector') { %>
            <input type="text" id="<%= id %>-x" placeholder="x"
              class="vector-component" value="<%= val.x %>" />
            <input type="text" id="<%= id %>-y" placeholder="y"
              class="vector-component" value="<%= val.y %>" />
            <input type="text" id="<%= id %>-z" placeholder="z"
              class="vector-component" value="<%= val.z %>" />
          <% } else if (property.type === 'material-select') { %>
            <div id="<%= id %>" data-resize="auto"
              class="select btn-group object-material-select">
              <button data-toggle="dropdown" class="btn dropdown-toggle">
                <span class="dropdown-label"></span>
                <span class="caret"></span>
              </button>
              <ul class="object-materials-dropdown-box dropdown-menu"></ul>
            </div>
          <% } else if (property.type === 'group-select') { %>
            <div id="<%= id %>" data-resize="auto"
              class="select btn-group object-group-select">
              <button data-toggle="dropdown" class="btn dropdown-toggle">
                <span class="dropdown-label"></span>
                <span class="caret"></span>
              </button>
              <ul class="object-group-dropdown-box dropdown-menu"></ul>
            </div>
          <% } %>
        </div>
      </div>
  <% } %>
  </script>


</body>

</html>
